/* src/index.css or custom CSS file */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in WebKit browsers */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Hides scrollbar in IE and Edge */
  scrollbar-width: none;  /* Hides scrollbar in Firefox */
}
