/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Allow body to fill the viewport height */
body {
  display: flex;
  flex-direction: column;
}

/* Prevent the page from adding unnecessary padding or margins to the body */
body > * {
  flex-shrink: 0;
}
